<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>
<p>
  <strong>Industry:</strong>
  <%= @job.industry.try(:title) %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>


<hr>
<h1><%= @users.length %> Candidate has been applied</h1>
<%= render 'jobs/user_applied' %>