<table class="table table-bordered">
  <thead>
    <th>Vacancies Applied For</th>
    <th>Reviewed by PhD</th>
    <th>Interview with PhD</th>
    <th>Submitted to Client</th>
    <th>Interview Status</th>
  </thead>
  <tbody>
  	<% @applied_jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%=reviewed_by(@reviews,job)%></td>
      <td><%=interviewed_by(job)%></td>
      <td><%=""%></td>
      <td><%=""%></td>
    <tr>
    <%end%>
  </tbody>
</table>
