
<% unless flash[:notice].nil? %>
 <p class="error-msg"> <%= flash[:notice] %> </p>
<% end %>
  <div class="user_profile">
	<h5><b>Email:</b> <%= @user.email %></h5>
	<h5><b>Full Name:</b> <%= @user.first_name %></h5>
	<h5><b>Contact No:</b> <%= @user.contact_no %></h5>
    <h5><%=  link_to "list of resume",{:controller => "resumes", :action => "index", :user_id => @user.id, job_id: @job.id},  class: " btn btn-primary" %></h5>

</div>
<% if current_user.client? %>
    <% if @job.interview.present?  %>
    <button id="myBtn" class="btn btn-primary">Interview Schedule</button>
    <div id="myModal" class="modal">
    <div class="modal-content">
    <span class="close">&times;</span>
    <%= render "interview_schedules/form"%>
    </div>
    </div>
    <% else %>
    <button class="btn btn-primary" disabled="disabled">Interview Schedule</button>
    <% end %>
<% end %>
<script type="text/javascript">
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<style type="text/css">
	/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 500px;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>